@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');olor: #FFFFFF;

*{
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

body{
	font-family: "Poppins";
	font-weight: 400;
	margin: 0;
}

img{
	max-width: 100%;
}

.list-reset{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn-reset{
	padding: 0;
	border: none;
	font-family: "Poppins";
	background-color: transparent;
	cursor: pointer;
}

.container{
	max-width: 1140px;
	padding: 0 15px;
	margin: 0px auto;
}

.link{
	display: inline-flex;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	color: #d4d6d4;
	transition: color 0.3s ease-in-out;
	border-bottom: 1px solid currentColor;
}

.link:hover{
	color: #ffd723;
}

.link svg{
	width: 12px;
	height: 12px;
	fill: currentColor;
	transform: translateY(1px);
}

.link span {
	text-indent: 10px;
	
}

.header{
	padding-top: 24px;
	padding-bottom: 24px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.burger{
	--offset-horizontal: 11px;
	--offset-vertical: 14px;
	position: relative;
	padding: var(--offset-vertical) var(--offset-horizontal);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background-color: #F5F6F7;
	
}

.burger-line{
	position: absolute;
	left: 50%;
	top: var(--offset-vertical);
	display: inline-block;
	background-color: #000;
	width: calc(100% - (var(--offset-horizontal))*2);
	height: 2px;
	transform: translate(-50%);
}

.burger-line:nth-child(2){
	top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3){
	top: calc(var(--offset-vertical) + 12px);
}

.hero{
	padding-top: 189px;
	background-image: url("../img/background/Bitmap.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-bottom: 80px;
	min-height: 600px;
}

.hero-subtitle{
	display: inline-block;
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.hero-title{
	margin: 0;
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #fff;
}

.hero-content{
	max-width: 616px;
}

.hero-descr{
	margin-bottom: 200px;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}
.hero-descr p{
	display: inline-block;
	margin-bottom: 100px;
}

.hero-link{
	color: #ffd723;
}

.site-title{
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #4D533C;
}

.services{
	margin-bottom: -180px;
	padding-top: 150px;
	padding-bottom: 150px; 
}

.services-title{
	margin: 0;
	margin-bottom: 60px;
	max-width: 606px;
}

.services-list{
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}

.services-subtitle{
	margin-bottom: 20px;
	min-width: 183px;
	margin: 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;
}

.services-descr{
	margin-bottom: 56px;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	color: rgba(33, 56, 66, 0.6);
	max-width: 194px;
}

.services-link{
	border-bottom: 1px solid currentColor;
	margin-bottom: 0;
	margin-top: auto;
	text-decoration: none;
	
}



.services-item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.get-started{
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
	position: relative;
	top: 180px;
	background-color: #fafafa;
	width: 88%;
	padding: 70px 0;

}

.get-started-title{
	margin: 0;
	margin-bottom: 50px;
	max-width: 822px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #4D533C;
}

.get-started-link{
	text-transform: uppercase;
}

.footer{
	background-image: url("../img/background/Bg (2).jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	padding-top: 300px;
}

.container-thin{
	max-width: 882px;
	padding: 0 15px;
	margin: 0px auto;
}

.footer-top{
	padding-bottom: 52px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #5D6544;
}

.footer-contacts-item:not(:last-child){
	margin-right: 128px;
}

.footer-contacts-text{
	margin-bottom: 8px;
	display: block;
	font-size: 16px;
	line-height: 40px;
	color: #B6C197;

}

.footer-contacts-value{
	display: inline-block;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	color: #FFFFFF;
	text-decoration: none;
}


.footer-middle{
	--grid-gap: 70px;
	padding: 60px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: var(--grid-gap);
	border-bottom: 1px solid #5D6544;
}

.footer-column:last-child{
	position: relative;
}

.footer-column:last-child::before{
	content: "";
	position: absolute;
	top: 0;
	left: calc(-1 * (var(--grid-gap)));
	width: 1px;
	height: 100%;
	background-color: #5D6544;
}

.footer-title{
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 38px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 23px;
}

.footer-list{

}

.footer-link{
	display: inline-block;
	font-size: 16px;
	line-height: 40px;
	color: #B6C197;
	text-decoration: none;
}

.footer-text{
	margin-bottom: 23px;
	margin: 0;
	font-size: 16px;
	line-height: 40px;
	color: #B6C197;
}

.footer-mail{
	display: inline-block;
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 24px;
	line-height: 38px;
	text-decoration: none;
	color: #FFFFFF;
}

.social-link{
	display: block;
	width: 33px;
	height: 33px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 17px auto;
	background-color: #444A34;
	border-radius: 100%;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
}

.social-link:hover{
	opacity: 1;
}

.social{
	display: flex;
	align-items: center;
}

.social-link-fb{
	background-image: url('../img/icons/facebook.svg')
}

.social-link-tw{
	background-image: url('../img/icons/twitter.svg')
}

.social-link-g{
	background-image: url('../img/icons/google-plus.svg')
}

.social-link-in{
	background-image: url('../img/icons/linkedin.svg')
}

.social-item:not(:last-child){
	margin-right: 11px;
}

.copyright{
	font-size: 14px;
	line-height: 21px;
	color: #B5C096;

}

.footer-bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 0;
}

@media (max-width: 992px) {
	.services-list{
	gap: 50px;
	grid-template-columns: repeat(2, 1fr);
	}
	.services-subtitle{
		max-width: none;
	}
	.services-descr{
		max-width: none;
	}
	.get-started-title{
		font-size: 55px;
		line-height: 65px;
	}

}

@media (max-width: 768px){
	.footer-middle{
		grid-template-columns: repeat(2, 1fr);
	}
	.footer-item:last-child::before{
		display: none;
	}
	.get-started-title{
		font-size: 42px;
		line-height: 54px;
	}
}

@media (max-width: 576px){
	.footer-middle{
		--grid-gap: 40px;
		grid-template-columns: repeat(1, 1fr);
	}

	.hero-title{
		font-size: 50px;
		line-height: 65px;
	}

	.services{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer-bottom{
		flex-direction: column;
	}

}

@media (max-width: 375px){
	.footer-mail{
		font-size: 20px;
	}
	.logo{
		width: 65%;
	}
	.hero-title{
		font-size: 45px;
		line-height: 60px;
	}
	.services-list{
		gap: 50px;
		grid-template-columns: repeat(1, 1fr);
	}
}